{% extends 'base.html' %}
{% block pageStyle %}
<link rel="stylesheet" type="text/css" href="{{ url_for('Auth.static', filename='css/mainAuth.css') }}">
{% endblock pageStyle%}
{% block content %}
{% block content1 %}

<section>
    <div class="login-page">
        <div class="log-one">
            <div class="log-two">
                <div class="log-four">
                    <div class="log-three">
                        <span>Welcome to </span> FG-Lawkits
                    </div>
                    <!-- <div class="log-six"> -->
                        <form method="post">
                            {{ form.hidden_tag() }}
                            <div class="log-fourteen">
                                {{ form.email(class="log-fifteen", placeholder="Email", type="email") }}
                                {{ form.password(class="log-sixteen", placeholder="Password", type="password") }}

                                <button class="log-seventeen">
                                    <svg fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                                        <circle cx="8.5" cy="7" r="4" />
                                        <path d="M20 8v6M23 11h-6" />
                                    </svg>
                                    {{ form.submit(class="log-eighteen") }}
                                </button>
                                <hr class="logi-nineteen">
                                <div class="log-seven">
                                    <a href="{{url_for('forgot_password')}}" class="log-eight logi-twenty-one"> Forgot
                                        Password?
                                    </a>
                                    <a href="{{url_for('register')}}" class="log-eight logi-twenty-one">Sign Up
                                    </a>
                                </div>
                                <p class="log-nineteen">
                                    I agree to abide by FG-Lawkit
                                    <a href="#" class="">
                                        Terms of Service
                                    </a>
                                    and its
                                    <a href="#" class="">
                                        Privacy Policy
                                    </a>
                                </p>
                            </div>
                        </form>
                    <!-- </div> -->
                </div>
            </div>
            <div class="log-twenty">
                <div class="log-twenty-one"
                    style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content1 %}

{% endblock content%}