@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bkg: 210deg 40% 98%;
        --color-content: 217deg 32.6% 17.5%;
    }

    @media (prefers-color-scheme:dark) {
        :root {
            --color-bkg: 217deg 32.6% 17.5%;
            --color-content: 210deg 40% 98%;
        }
    }

    :root[data-theme="dark"] {
        --color-bkg: 210deg 40% 98%;
        --color-content: 217deg 32.6% 17.5%;
    }

    :root[data-theme="cool"] {
        --color-bkg: 217deg 32.6% 17.5%;
        --color-content: 210deg 40% 98%;
    }
}

body {
    @apply
     bg-gray-800
     text-white
      font-sans antialiased 
      relative;
}

/* navbar start */
.navbar {
    @apply
    bg-slate-800
    text-white
    font-bold
    p-2
    flex
    items-center
    justify-between;
}

/* search bar */
.search {
    @apply
    w-1/2
    pl-7
}

.searchBar {
    @apply
    relative;
}

.searchBox {
    @apply
    w-11/12
    bg-gray-400
    rounded-md
    px-3
    py-1;
}

/* search bar end*/
/* navbar imgaes */
.navImg {
    @apply
    flex
    items-center
    justify-end
    
    ;
}
.circleImg {
    @apply
    h-8
    w-8
    bg-slate-400    
    rounded-full
    mx-3
    cursor-pointer
    ;
}
.circleImg img{
    @apply
    h-8
    w-8    
    rounded-full;
}
.profile {
    @apply
    
    w-auto
    text-white 
    rounded-lg 
    px-6 
    py-2;
}
/* navbar images end */

.nav-item {
    @apply 
    w-2/12    
    bg-slate-800 
    text-white 
    flex 
    flex-col
    items-center 
    justify-center 
    fixed
    ;
}

.logo {
    @apply
    my-3
    bg-slate-400
    flex 
    items-center 
    justify-center
    rounded-md
    w-11/12    
    px-4
    py-1
    ;
}
.nav-item1 {
    @apply
    w-10/12
    flex
    items-center
    ml-auto
    
    ;
}
.navItemImg {
    @apply
    w-1/2
    flex
    justify-end;
}

/* navbar end */


/* sidebar and main content */




/* sidebar */
.sideMain {
    @apply
    w-11/12
    h-full
    py-6
    p-4
    bg-slate-800;;
}


.sideTxt {
    @apply 
    text-xl 
    font-semibold 
    mb-4;
}

.sideItem {
    @apply 
    space-y-4;
}

.sideItems {
    @apply 
    flex 
    items-center 
    justify-center
    bg-slate-300 
    rounded;
}



/* index page css */


/* main content */
.mainContent {
    @apply 
    w-10/12 
    flex-grow 
    p-8 
    ml-auto
    bg-gray-800 
    text-white 
    overflow-y-auto
    h-screen 
    font-sans antialiased
    ;
}

.mainTop {
    @apply 
    flex 
    gap-4 
    rounded-md 
    h-3/5 
    ;
}

.mainTopIn {
    @apply 
    w-9/12     
    rounded-md;
}
img {
    @apply
    w-full
    h-full
    object-cover
    rounded-md;
}
.mainTopRight {
    @apply 
    w-3/12 
    flex 
    flex-col;
}

.mainTopRightOne {
    @apply 
    bg-gray-500 
    rounded-md 
    mb-4 
    h-4/5;
}

.mainTopRightBase {
    @apply 
    rounded-md 
    h-1/5 
    flex 
    gap-4;
}

.mainTopRightBaseOne{
    @apply 
    relative
    overflow-hidden 
    rounded-lg 
    w-1/2
    ;
}


.mainTopRightBaseOne img {
    @apply
    absolute 
    inset-0 
    w-full 
    h-full 
    object-cover 
    filter 
    blur-sm
    ;
}
.mainTopRightBaseOne img:hover {
    @apply
    scale-110
    transition-all
    duration-700;
}

/*  -------------------- Features -------------------- */
.feature {
    @apply
    flex
    py-6
    h-2/5
    gap-5
    ;
}
.feature-long {
    @apply
    w-6/12    
    bg-slate-400
    rounded-md    
    ;

}

.feature-small {
    @apply
    w-4/12    
    bg-slate-400
    
    rounded-md;
}
/*  -------------------- Features End -------------------- */




/*  -------------------- Footer start -------------------- */
.mainFooter {
    @apply
    mx-auto 
    py-4 
    flex 
    flex-wrap 
    justify-between
    bg-slate-800
    ;
}
.footer {
    @apply
    flex
    items-center
    justify-between
}

.footerStart {
    @apply
    flex;
}

.footerAbout {
    @apply
    w-full 
    md:w-1/3 
    mb-8
     ;
}
.footerHead {
    @apply
    text-xl font-semibold mb-4;
}



/*  -------------------- Footer End -------------------- */
