<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course Form</title>
</head>

<body>
    <h2>Add Course</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(size=32) }}
        {{ form.submit }}
    </form>
    <hr>
{% for element in data %}
        {{ element|e }}
        <a href="{{element.name}}">click</a>
        <a href="?Name={{element.name}}">update</a>
        <a href="?Name={{element.name}}&Delete=True">delete</a>
        <br>
        <br>
{% endfor %}

</body>

</html>