{% extends 'base_admin.html' %}
{% block content %}

<!-- Button trigger modal -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCourseModal">
        Add Course
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCourseModalLabel">Add Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closebtn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form inside modal -->
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <!-- <div class="form-group">
                        <label for="courseName">Level</label>
                        {{ form.name(class="form-control", id="courseName") }}
                    </div> -->
                    <div class="form-group">
                        <label for="courseName">Name</label>
                        {{ form.name(class="form-control", id="courseName") }}
                    </div>
                    <!-- <div class="form-group">
                        <label for="courseName">Author</label>
                        {{ form.name(class="form-control", id="courseName") }}
                    </div> -->
                    <div class="form-group">
                        <label for="coursediscription">Description</label>
                        {{ form.discription(class="form-control", id="coursediscription") }}
                    </div>
                    <div class="form-group">
                        <label for="courseVideo">Course Video</label>
                        {{ form.course_video(class="form-control", id="courseVideo") }}
                    </div>
                    <div class="form-group">
                        <label for="courseHours">Hours</label>
                        {{ form.hrs(class="form-control", id="courseHours") }}
                    </div>
                    <div class="form-group">
                        <label for="coursePrice">Price</label>
                        {{ form.price(class="form-control", id="coursePrice") }}
                    </div>
                    <div class="form-group">
                        <label for="courseDiscount">Discount</label>
                        {{ form.discount(class="form-control", id="courseDiscount") }}
                    </div>
                    <div class="form-group">
                        <label for="courseImg1">Image 1</label>
                        {{ form.img1(class="form-control-file", id="courseImg1") }}
                    </div>
                    <div class="form-group">
                        <label for="courseImg2">Image 2</label>
                        {{ form.img2(class="form-control-file", id="courseImg2") }}
                    </div>
                    <div class="form-group">
                        <label for="courseImg3">Image 3</label>
                        {{ form.img3(class="form-control-file", id="courseImg3") }}
                    </div>
                    {{ form.submit(class="btn btn-success") }}
                </form>
            </div>
        </div>
    </div>
</div>

{% if update %}
<script>
    window.onload = () => {
        var addCourseModal = new bootstrap.Modal(document.getElementById('addCourseModal'));
        addCourseModal.show();
    };
</script>
{% endif %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Hrs</th>
                        <th>Price</th>
                        <th>Media</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.hrs }}</td>
                        <td>{{ i.price }}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal{{ loop.index }}">
                                Open Modal
                            </button>
                        </td>
                        <td>
                            <a href="{{i._id}}" class="btn btn-warning">click</a>
                            <a href="?_id={{i._id}}" class="btn btn-success">update</a>
                            <a href="?_id={{i._id}}&Delete=True" class="btn btn-danger">delete</a>
                        </td>
                    </tr>
                    <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Images and Video for {{i.name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    
                                    
                                    
                                </div>
                                <div class="modal-body">
                                    <!-- Display the first image -->
                                    {% if i.img1 and i.course_video%}
                                    <img src="{{i.img1}}" alt="img1" class="img-thumbnail">
                                    <img src="{{i.img2}}" alt="img1" class="img-thumbnail">
                                    <img src="{{i.img3}}" alt="img1" class="img-thumbnail">

                                    <div class="embed-responsive embed-responsive-4by3">
                                        <iframe class="embed-responsive-item" src="{{i.course_video}}"
                                            allowfullscreen></iframe>
                                    </div>
                                    {% endif %}
                                    <!-- Repeat for other images if any -->
                                </div>
                                <div class="modal-footer">
                                    <!-- Button to close modal -->
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{#{% extends 'base_admin.html' %}
{% block content %}

<!-- Button trigger modal -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCourseModal">
        Add Course
    </button>
</div>

<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                </div>
              
            </div>
        </div>
    </div>
</div> -->
<!-- Modal -->
<div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCourseModalLabel">Add Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closebtn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form inside modal -->
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="courseName">Name</label>
                        {{ form.name(class="form-control", id="courseName") }}
                    </div>
                    <div class="form-group">
                        <label for="coursediscription">Description</label>
                        {{ form.discription(class="form-control", id="coursediscription") }}
                    </div>
                    <div class="form-group">
                        <label for="courseVideo">Course Video</label>
                        {{ form.course_video(class="form-control", id="courseVideo") }}
                    </div>
                    <div class="form-group">
                        <label for="courseHours">Hours</label>
                        {{ form.hrs(class="form-control", id="courseHours") }}
                    </div>
                    <div class="form-group">
                        <label for="coursePrice">Price</label>
                        {{ form.price(class="form-control", id="coursePrice") }}
                    </div>
                    <div class="form-group">
                        <label for="courseDiscount">Discount</label>
                        {{ form.discount(class="form-control", id="courseDiscount") }}
                    </div>
                    <div class="form-group">
                        <label for="courseImg1">Image 1</label>
                        {{ form.img1(class="form-control-file", id="courseImg1") }}
                    </div>
                    <div class="form-group">
                        <label for="courseImg2">Image 2</label>
                        {{ form.img2(class="form-control-file", id="courseImg2") }}
                    </div>
                    <div class="form-group">
                        <label for="courseImg3">Image 3</label>
                        {{ form.img3(class="form-control-file", id="courseImg3") }}
                    </div>
                    {{ form.submit(class="btn btn-success") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% if update %}
    <script>
        console.log("Data")
        window.onload = () => {
            var addCourseModal = new bootstrap.Modal(document.getElementById('addCourseModal'))
            addCourseModal.show()
        }
    </script>
{% endif %}




<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Hrs</th>
                        <th>Price</th>
                        <th>Media</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in data %}

                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.hrs}}</td>
                        <td>{{i.price}}</td>
                        <td> <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal{{loop.index}}">
                                Open Modal
                            </button>
                        </td>
                        <td>
                            <a href="{{i._id}}" class="btn btn-warning">click</a>
                            <a href="?_id={{i._id}}" class="btn btn-success">update</a>
                            <a href="?_id={{i._id}}&Delete=True" class="btn btn-danger">delete</a>
                        </td>

                    </tr>
                    <div class="modal fade" id="exampleModal{{loop.index}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Images and Video for {{i.name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    
                                    
                                    
                                </div>
                                <div class="modal-body">
                                    <!-- Display the first image -->
                                    {% if i.img1 and i.course_video%}
                                    <img src="{{i.img1}}" alt="img1" class="img-thumbnail">
                                    <img src="{{i.img2}}" alt="img1" class="img-thumbnail">
                                    <img src="{{i.img3}}" alt="img1" class="img-thumbnail">

                                    <div class="embed-responsive embed-responsive-4by3">
                                        <iframe class="embed-responsive-item" src="{{i.course_video}}"
                                            allowfullscreen></iframe>
                                    </div>
                                    {% endif %}
                                    <!-- Repeat for other images if any -->
                                </div>
                                <div class="modal-footer">
                                    <!-- Button to close modal -->
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>


  
{% endblock content%}#}