<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Sections Form</title>
</head>

<body>
    <h2>Add content Form</h2>
    <hr>
    <a href="{{url_for('.content',section_id=section_id,course_id=course_id,data_type='video')}}">videos</a>
    <a href="{{url_for('.content',section_id=section_id,course_id=course_id,data_type='docs')}}">docs</a>

    <hr>
    data_type-{{data_type}} <br>
    sections-{{section_id}} <br>
    course_id-{{course_id}} <br>
    {% if data_type == "video" %}
    <form method="POST">
        {{ form.hidden_tag() }}
        title- {{ form.title() }}
        dis-{{ form.discription() }}
        link-{{ form.link() }}
        reso-{{ form.resource() }}
        {{ form.submit }}
        {% for error in form.link.errors %}
        <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </form>

    {%elif data_type == "docs"%}
    <form method="POST">
        {{ form.hidden_tag() }}
        title-{{ form.title() }}
        content{{ form.content_text() }}
        {{ form.submit }}
    </form>
    {% endif %}
    <hr>
    {% for element in data %}
    {{ element|e }}
    <a href="{{url_for('.content',section_id=section_id,course_id=course_id,data_type=element.type,content_id=element._id)}}">Update</a>
    <a href="{{url_for('.content',section_id=section_id,course_id=course_id,content_id=element._id,Delete=true)}}">Delete</a>
    <br><br>
    {% endfor %}

</body>

</html>