{% extends 'base_admin.html' %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm justify-content-end">Add Course</a>
    
</div>
<hr>
<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                </div>
              
            </div>
        </div>
    </div>
</div> -->


<h2>Add Course</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    Name-{{ form.name() }}<br>
    Discription-{{ form.discription() }}<br>
    course_video-{{ form.course_video() }}<br>
    hrs-{{ form.hrs() }}<br>
    price-{{ form.price() }}<br>
    discount-{{ form.discount() }}<br>
    img1-{{ form.img1() }}<br>
    img2-{{ form.img2() }}<br>
    img3-{{ form.img3() }}<br>
    {{ form.submit }}
</form>
<hr>
{% for element in data %}
{{ element|e }}
<a href="{{element._id}}">click</a>
<a href="?_id={{element._id}}">update</a>
<a href="?_id={{element._id}}&Delete=True">delete</a>
<br>
<br>
{% endfor %}
{% endblock content%}