<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% block pageStyle %}

    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stocksales.b-cdn.net/static%20content/assets/css/swiper.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
        .mute-toggle .unmuted-icon {
            display: none;
        }

        .mute-toggle.muted .muted-icon {
            display: inline;
        }

        .mute-toggle.muted .unmuted-icon {
            display: none;
        }
    </style>
    <style>

    </style>
</head>

<body>
    <!-- sm view start -->
    <section class="hidde">
        <div class="nav">
            <div class="brandlogo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Steam_gray-brown_logo.svg/1280px-Steam_gray-brown_logo.svg.png"
                    alt="image" srcset="">
            </div>
            <div class="nav-item">
                <div class="searchBar">
                    <form method="post">
                        <div class="searchform">
                            <input type="text" placeholder="Search..." id="searchInput" />
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="nav-right">
                    <div class="nav-icons">
                        <div class="iconsa">
                            <a href="#"><i class="fa-regular fa-bell"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="dropdown-container">
                        <div class="profile">
                            <div class="nav-img-circle">
                                <img src="https://plan-uk.org/sites/default/files/styles/gallery_image/public/Images/Article/plan-uk-act-for-girls-street-harassment-jess.jpg"
                                    alt="" srcset="" class="image-round">
                            </div>
                            <div class="group">
                                <button type="button" class="dropdown-button">
                                    {% if current_user.is_authenticated %}
                                        {{current_user.name}}
                                    {{current_user.role}}

                                    {% else %}
                                    No login
                                    {% endif %}
                                    
                                    <!-- Dropdown arrow -->
                                    <svg class="dropdown-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                        fill="currentColor">
                                        <path fill-rule="evenodd" d="M10 12l-5-5h10l-5 5z" />
                                    </svg>
                                </button>

                                <!-- Dropdown menu -->
                                <div class="dropdown-menu">
                                    <div class="dropdown-list">
                                        <a href="{{url_for('login')}}" class="dropdown-item">Login</a>
                                        <a href="{{url_for('register')}}" class="dropdown-item">Sign Up</a>
                                        <a href="{{url_for('Auth.logout')}}" class="dropdown-item">Log Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sm and md view -->
    <!-- <section class="view-sm">
        <div class="brandlogo-sm">
            <img src="https://ccdstest.b-cdn.net/logo-fg.jpg" alt="image" srcset="">
        </div>
        <div class="searchBar-sm">
            <form method="post" class="searchBar">
                <input type="text" placeholder="Search..." id="searchInput" />
                <input type="submit" value="Search">
            </form>
        </div>

    </section> -->
    <!-- HTML -->
    <section class="view-sm">
        <div class="first-nav">
            <div class="brandlogo-sm">
                <img src="https://ccdstest.b-cdn.net/logo-fg.jpg" alt="image" srcset="">
            </div>

            <div class="burger-icon">
                <svg class="" id="open-sidebar" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </div>
        </div>

        <div class="searchBar-sm">
            <form method="post" class="searchBar">
                <input type="text" placeholder="Search..." id="searchInput" />
                <input type="submit" value="Search">
            </form>
        </div>


        <!-- Sidebar -->
        <div class="sidebar hiden">
            <h2 class="sm-hide">Sidebar</h2>
            <ul class="burger-one">
                <li class="burger-two">
                    <svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 21v-2m0 0V9m0 12a4 4 0 018 0m-8 2a4 4 0 100-8"></path>
                    </svg>
                    <a href="#" class="burger-four">Login</a>
                </li>
                <li class="burger-two">
                    <svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 21v-2m0 0V9m0 12a4 4 0 018 0m-8 2a4 4 0 100-8"></path>
                    </svg>
                    <a href="#" class="burger-four">Sign Up</a>
                </li>
                <li class="burger-three">
                    <svg class="" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 21v-2m0 0V9m0 12a4 4 0 018 0m-8 2a4 4 0 100-8"></path>
                    </svg>
                    <a href="#" class="burger-four">Logout</a>
                </li>
            </ul>
        </div>

    </section>
    <section class="hero10">
        <!-- main content -->

        {% block content %}

        {% endblock content %}

        <!-- Footer -->
        <div class="foot-sm">
            <div class="foot-item"><a href="#"><i class="fas fa-home"></i></a></div> {#{{url_for('index')}}#}
            <div class="foot-item"><a href="#"><i class="fas fa-book"></i></a></div> {#{{url_for('course')}}#}
            <div class="foot-item"><a href="#"><i class="fas fa-users"></i></a></div>
            <div class="foot-item"><a href="#"><i class="fas fa-user-md"></i></a></div>
            <div class="foot-item"><a href="#"><i class="fas fa-cog"></i></a></div>
        </div>
    </section>
    <!-- sm and md view end-->


    <section>
        <div class="margin-top ">
            <div class="side-nav hidde">
                <div class="side-nav-main-item">
                    <div class="side-nav-item">
                        <a href="{{url_for('index')}}">
                            <div class="side-nav-name ">
                                <div class="v-line"></div>Home
                            </div>
                        </a>
                    </div>
                    <div class="side-nav-item ">
                        <div class="side-nav-item">
                            <a href="{{url_for('course')}}">
                                <div class="side-nav-name">
                                    <div class="v-line"></div>Course
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="side-nav-item">
                        <div class="side-nav-item">
                            <a href="#">
                                <div class="side-nav-name">
                                    <div class="v-line"></div>Community
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="side-nav-secondary-item">
                    <div class="side-icon">
                        <a href="#" class="side-nav-secondary-icon">
                            <i class="fas fa-cog mr-2"></i>
                            <span>Setting</span>
                        </a>

                    </div>
                    <div class="side-icon">
                        <a href="#" class="side-nav-secondary-icon">
                            <i class="fas fa-question-circle mr-2"></i> <!-- Help icon -->
                            <span>Help</span>
                        </a>
                    </div>
                    <!-- <a href="#" class="side-box">Be a <br> Contributor<span class="plus"> + </span> </a> -->
                    <a href="#" class="side-box">Become a <br> Contributor</a>
                </div>

            </div>

            <div class="main-content">
                <div class="hidde">
                    {% block content1 %}

                    {% endblock content1 %}
                </div>

                <footer class="hidde">
                    <div class="foot">
                        <div class="foot-container">
                            <div class="footer-flex">
                                <div class="foot-content">
                                    Copyright © 2024
                                    <script>new Date().getFullYear() > 2020 && document.write("- " + new Date().getFullYear())</script>

                                    FG Lawkit. All Rights Reserved.
                                </div>
                                <!-- <div class="foot-content">
                                    Made with ❤️ by Dipesh & Darshan.
                                </div> -->
                            </div>
                        </div>
                    </div>
                </footer>
            </div>

        </div>

    </section>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.4.4/swiper-bundle.min.js"></script>
    <script>
        // Get sidebar and openSidebarButton elements
        const sidebar = document.querySelector('.sidebar');
        const openSidebarButton = document.getElementById('open-sidebar');

        // Add event listener to openSidebarButton
        openSidebarButton.addEventListener('click', (e) => {
            // Stop propagation to prevent closing the sidebar immediately after opening it
            e.stopPropagation();
            // Toggle the translate-x-full class to show/hide the sidebar
            sidebar.classList.toggle('-translate-x-full');
        });

        // Close the sidebar when clicking outside of it
        document.addEventListener('click', (e) => {
            // Check if the clicked element is neither inside the sidebar nor the openSidebarButton
            if (!sidebar.contains(e.target) && e.target !== openSidebarButton) {
                // Add translate-x-full class to hide the sidebar
                sidebar.classList.add('-translate-x-full');
            }
        });

    </script>
    <script src="https://stocksales.b-cdn.net/static%20content/assets/js/swiper.min.js"></script>
</body>

</html>