{% extends 'base.html' %}
{% block pageStyle %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main4.css') }}">

{% endblock %}
{% block content %}
{% block content1 %}
<br>
<br>
<!-- {% for i in data %}
{{ i }} <br>
<a href="{{url_for('course_details',course_id=i._id)}}"><b>click</b></a>
<hr>
{% endfor %} -->

<section class="course-page ">
    <div class="course-head">All Courses -></div>
    <div class="product-sm10">
        {% for i in data %}
        <div class="product-card10">
            <div class="product-image10">
                <img src="{{i.img1}}" alt="product image" />
            </div>
            <div class="product-head10">
                <div class="product-header10">
                    <button class="product-title210">Intermediate{{i.level}}</button>
                </div>
                <div class="product-header10">
                    <h5 class="product-title10">{{i.name}}</h5>
                    <small class="author-name10">Created By: {{i.author}}</small>
                </div>
                <div class="product-price-text10">
                    <span class="product-price102">₹{{i.discount}} </span>
                    <small class="author-name108"><del>₹{{i.price}}</del></small>
                </div>
                <div class="product-price-text10">
                    <span class="product-price10">
                        <i class="far fa-clock"></i>&nbsp; <P>Duration:</P>&nbsp;{{i.hrs}} hr
                    </span>

                </div>
                <span class="product-title110">{{i.discription}}</span>
            </div>
            <div class="enroll-now">
                <a href="{{url_for('course_details',course_id=i._id)}}" class="add-to-cart-button10">Enroll Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content1 %}

{% endblock content%}