{% extends 'base2.html' %}
{% block content %}
<!-- Main Content Area -->

<section class="hero">
    <div class="banner">
        <div class="banner-image">
            <img id="banner-img" src="https://images6.alphacoders.com/133/1333695.jpeg" alt="">
            <div class="dot-container" id="dot-container"></div>
            
        </div>
        <div class="banner-details">
            <div class="banner-text" >
                <div id="banner-heading" class="banner-head">
                    this is heading
                </div>
                <div id="banner-text">
                    
                </div>
                <div class="banner-btn2" id="banner-button">
                    <a id="banner-button-link2" href="#">Button Text</a>
                </div>  
            </div>
            <div class="banner-btn">
                <div class="npimg" id="prev">Prev</div>
                <div class="npimg" id="next">Next</div>
            </div>
        </div>
    </div>
</section>
{#  Feature #}
<section class="feature">
    <div class="big_feature">
        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt="">
    </div>
    <div class="small_feature">
        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt="">
    </div>
    <div class="small_feature">
        <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt="">
    </div>
</section>
{#  About   #}
<section class="about">
    <div class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, vitae.</div>
    <div class="about-image"><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt=""></div>
</section>
{#  Cards   #}
<section class="cards">

</section>
{% endblock %}