{% extends 'base2.html' %}
{% block content %}
<!-- Main Content Area -->

<section class="hero">
    <div class="banner">
        <div class="banner-image">
            <img id="banner-img" src="https://images6.alphacoders.com/133/1333695.jpeg" alt="">
            <div class="dot-container" id="dot-container"></div>

        </div>
        <div class="banner-details">
            <div class="banner-texts">
                <div class="top">


                    <div id="banner-heading" class="banner-head">
                        this is heading
                    </div>

                    <div id="banner-text" class="banner-Subtext">

                    </div>
                    <br>
                    <div class="banner-tags">
                        <div class="tag">#law</div>
                        <div class="tag">#studentofLaw</div>
                        <div class="tag">#free Course</div>
                    </div>
                </div>
                <div class="r-end">
                    <div class="banner-exp" id="banner-button">
                        <a id="banner-button-link2" href="#">Button Text</a>
                        <i class="fa-solid fa-caret-right"></i>
                    </div>
                </div>
            </div>
            <div class="banner-btn">
                <div class="npimg" id="prev">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="npimg" id="next">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
{# Feature #}
<section class="feature">
    <div class="big_feature">
    </div>
    <div class="small_feature">
    </div>
    <div class="small_feature">
    </div>
</section>
{# About #}
<section class="about">
    <div class="about-text">
        <div class="heading">
            Welcome To FG-LawKit <br>
            <div class="headind2color">Explore Web!!</div>
        </div>
        <div class="para">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal .
            </p>
            <p>
                distribution of letters, as opposed to using 'Content here, content here', making it look like
                readable.distribution of
                letters, as opposed to.
            </p>
        </div>
        <a class="about-exp">
            Explore More
            <i class="fa-solid fa-caret-right"></i>
        </a>
    </div>
    <div class="about-video">
        <iframe
            src="https://iframe.mediadelivery.net/embed/225832/c8877581-aa34-4162-abee-e8a1723cc269?autoplay=false&loop=false&muted=false&preload=true&responsive=true"
            loading="lazy" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
            allowfullscreen="true"></iframe>
    </div>
</section>

<section class="cards-section">
    <div class="card">
        <img src="https://images6.alphacoders.com/133/1333695.jpeg" alt="">
        <h4>Best Courses
            <i class="fa-solid fa-caret-right"></i>

        </h4>
        <p>distribution of letters, as opposed to.</p>
    </div>
    <div class="card">
        <img src="https://images6.alphacoders.com/133/1333695.jpeg" alt="">
        <h4>Free Semester Lecture
            <i class="fa-solid fa-caret-right"></i>

        </h4>
        <p>distribution of letters, as opposed to.</p>

    </div>
    <div class="card">
        <img src="https://images6.alphacoders.com/133/1333695.jpeg" alt="">
        <h4>Podcast
            <i class="fa-solid fa-caret-right"></i>

        </h4>
        <p>distribution of letters, as opposed to.</p>

    </div>
</section>
<section class="top-course">
    <div class="heading">
        Top <div class="headind2color">Courses!!</div>
    </div>

    <div class="row1">
        {% for item in range(8) %}

        <div class="course-card-row">
            <div class="course-video">

                <div class="c-video" id="video-container{{ item }}">
                    <video class="video" autoplay loop disablePictureInPicture>
                        <source src="https://ccdstest.b-cdn.net/Untitled%20design%20(1).mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="video-controls">
                        <div class="mute-toggle"><i class="fas fa-volume-up"></i></div>
                        <div class="share-icon">
                            <button id="shareButton" class="share-button">
                                <i class="fa-solid fa-share-nodes"></i>
                            </button>
                        </div>
                        
                    </div>
                    <div id="shareBox" class="share-box">
                        <!-- Share options go here -->
                        <button class="share-option">Option 1</button>
                        <button class="share-option">Option 2</button>
                        <!-- Add more share options as needed -->
                    </div>
                </div>

                <div class="c-name">
                    <p class="vid-text">Python Basics</p>
                    <div class="price-info">
                        <!-- <div class="discounted-price">$49</div> -->
                        <div class="price">
                            <div class="real-price">Price <span class="line-through">₹102</span> ₹68</div>
                            <!-- Changed real price to $69 -->

                        </div>
                    </div>

                </div>
                <button class="explore-btn">Explore Now</button>
            </div>
        </div>
        </>
        {% endfor %}
    </div>

    </div>

</section>
<!-- testimonial -->

<section class="hgggg"> </section>

{% endblock %}