{% extends 'base.html' %}
{% block content %}
<!-- Main Content Area -->

    <div class="mainTop">
        <!-- Column 1 (col-10) -->
        <div class="mainTopIn">
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt="">
        </div>
        <!-- Column 2 (col-2) -->
        <div class="mainTopRight">
            <!-- First div -->
            <div class=" mainTopRightOne">
                <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt="">
            </div>
            <!-- Second div -->
            <div class=" mainTopRightBase">
                <!-- Column 1 -->
                <div class="mainTopRightBaseOne">
                    <img src="https://images.unsplash.com/photo-1608848461950-0fe51dfc41cb?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="" srcset="" class="blurImg">
                </div>
                <!-- Column 2 -->
                <div class="mainTopRightBaseOne">
                    <img src="https://images.unsplash.com/photo-1608848461950-0fe51dfc41cb?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Your Image"
                        class="" />
                </div>
            </div>
        </div>
        
    </div>
    {# Feature start #}
    <div class="feature">
        <div class="feature-long"><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt=""></div>
        <div class="feature-small"><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt=""></div>
        <div class="feature-small"><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/header.jpg"  alt=""></div>
    </div>
    {# Feature End #}
    {# #}


{% endblock %}