{% extends 'base.html' %}
{% block content %}
<!-- Main Content Area -->
<div class="mainContent">
    <div class="mainTop">
        <!-- Column 1 (col-10) -->
        <div class="mainTopIn">

        </div>
        <!-- Column 2 (col-2) -->
        <div class="mainTopRight">
            <!-- First div -->
            <div class=" mainTopRightOne"></div>
            <!-- Second div -->
            <div class=" mainTopRightBase">
                <!-- Column 1 -->
                <div class="mainTopRightBaseOne"></div>
                <!-- Column 2 -->
                <div class="mainTopRightBaseTwo"></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}